.aboutContainer {
  font-size: 25px;
  margin: 1.2em 0;
}

.ourStoryContainer {
  margin: 0 4em;
  background: #f5f8ff;
  box-shadow: 0px 2px 4px grey;
  padding: 1em 2em;
  border-radius: 20px;
}

.textWithSideImage {
  display: flex;
}

.ourStoryFridgePic {
  height: 40rem;
}

@media (max-width: 720px) {
  .ourStoryContainer {
    margin: 0 1em;
    padding: 1em;
  }

  .textWithSideImage {
    flex-direction: column;
  }

  .ourStoryFridgePic {
    height: 20rem;
    margin: 0.5em 0;
  }
}
