:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: #b4dfd4;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-out;
}

.btn--outline--donate {
  background-color: transparent;
  color: #ffb741;
  border: 1px solid #ffb741;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  background: #ffb741;
  color: white;
  transition: all 0.3s ease-out;
  transition: 250ms;
}

.navbarButtonSpecific {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
