image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.cta-container {
  background: #f5f8ff;
  height: 100%;
  width: 100%;
  align-items: left;
  object-fit: contain;
}

.newsletter-container {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  padding: 30px;
}

.h1-newsletter {
  color: black;
  font-size: 2rem;
  padding: 0 10px 0 10px;
}

.newsletter-container > p {
  color: black;
}

input[type='text'] {
  padding: 12px 18px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 20px;
  border: transparent;
  width: 75%;
}
input[type='text']:focus {
  outline: none;
}

input[type='submit'] {
  background-color: #b4dfd4;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-out;
  padding: 12px 26px;
  font-size: 20px;
  width: 75%;
}

input[type='submit']:hover {
  background: #ffb741;
  border: 1px solid #ffb741;
  color: white;
  transition: all 0.3s ease-out;
  transition: 250ms;
  cursor: pointer;
}

input[type='submit']:focus {
  outline: none;
}

.btn-cta {
  padding: 8px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .newsletter-container {
    margin: 1.5rem auto 5rem auto;
    max-width: 100%;
  }
  input[type='submit'],
  input[type='text'] {
    width: 100%;
  }
}
