.hostAFridgeContainer {
  display: flex;
  font-size: 25px;
  margin: 1.2em 0;
}

.hostTextContainer {
  background: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  margin: 0 4em;
  overflow: hidden;
  padding: 1em 2em;
  width: 50%;
}

.fridgeImage {
  width: auto;
  height: 40vh;
}

.volunteerWithUsContainer {
  display: flex;
  font-size: 25px;
  margin: 1.2em 0;
  background: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  margin: 0 4em;
  overflow: hidden;
  padding: 1em 2em;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.multiplePeopleImage {
  width: auto;
  height: 20em;
}

@media (max-width: 720px) {
  .hostAFridgeContainer {
    flex-direction: column;
  }

  .hostTextContainer {
    margin: 0 1em;
    padding: 1em;
    width: 85%;
  }

  .fridgeImage {
    width: auto;
    height: 50vh;
  }

  .volunteerWithUsContainer {
    flex-direction: column;
    margin: 0 1em;
    padding: 1em;
    margin-bottom: 1em;
  }

  .multiplePeopleImage {
    width: 100%;

    position: relative;
  }
}
