.getInvolvedContainer {
  display: flex;
  margin: 3em 6em;
}

.columnContainer {
  width: 50%;
}

.hostAFridgeContainer {
  display: column;
  font-size: 25px;
  margin: 0em 2em;
}

.hostTextContainer {
  background: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  margin: 0 2em 0 0;
  overflow: hidden;
  padding: 1em 2em;
  width: 100%;
  text-align: justify;
}

.imgContainer {
  text-align: center;
}

.fridgeImage {
  max-width: 40vh;
  object-fit: cover;
}

.volunteerWithUsContainer {
  display: column;
  font-size: 25px;
  margin: 1em 0em;
}
.volunteerTextContainer {
  background: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  margin: 0 2em;
  overflow: hidden;
  padding: 1em 2em;
  justify-content: flex-end;
  margin-bottom: 1em;
  text-align: justify;
}

.multiplePeopleImage {
  max-width: 50vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .getInvolvedContainer {
    flex-direction: column;
    margin: 3em 1em;
  }

  .columnContainer {
    width: 100%;
  }

  .hostAFridgeContainer {
    flex-direction: column;
    margin: 0 1em;
    padding: 1em 0 1em 0;
  }

  .hostTextContainer {
    padding: 1em;
    text-align: left;
  }

  .fridgeImage {
  }

  .volunteerTextContainer {
    flex-direction: column;
    margin: 0 1em;
    padding: 1em;
    margin-bottom: 1em;
    text-align: left;
  }

  .multiplePeopleImage {
    width: 100%;

    position: relative;
  }
}
