.homeContainer {
  margin: 0 2em;
}

/* Banner CSS */
.bannerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.findAFridgeButton {
  padding: 8px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #b4dfd4;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-out;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.takeWhatYouNeedContainer {
  background-color: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  padding: 2rem;
  width: 30%;
}

#lvtfwoman-img {
  width: 50%;
}

.wavyBackgroundImage {
  position: absolute;
  width: 100%;
  z-index: -100;
}

/* Mission CSS */
.missionContainer {
  align-items: center;
  background: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  display: flex;
  justify-content: center;
  margin: 7em 8em;
  padding: 2em 4em;
}

#lvtf-logo {
  width: 30%;
}

/* Map CSS */
.mapContainer {
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 5em;
}

.mapAndText {
  display: flex;
}

.mapAndText > iframe {
  width: 70%;
}

.fridgeTextLocations {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  font-weight: 800;
  margin-left: 1em;
  width: 40%;
}

.interestedContainer {
  align-items: center;
  background: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

@media (max-width: 720px) {
  .homeContainer {
    margin: 0;
  }

  .wavyBackgroundImage {
    top: 55%;
  }

  /* Banner CSS */
  .bannerContainer {
    flex-direction: column;
    margin-top: 1em;
  }

  .takeWhatYouNeedContainer {
    width: 90%;
  }

  #lvtfwoman-img {
    width: 90%;
  }

  /* Mission CSS */
  .missionContainer {
    flex-direction: column;
    margin: 1em;
    padding: 1em 2em;
    position: relative;
    top: -30px;
  }

  #lvtf-logo {
    width: 100%;
  }

  /* Map CSS */
  .mapContainer {
    margin-left: 1em;
    margin-right: 1em;
  }

  .mapAndText {
    flex-direction: column;
  }

  .fridgeTextLocations {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    padding-top: 1em;
  }

  .fridgeTextLocations > span {
    padding-bottom: 0.5em;
  }
}
