.homeContainer {
  margin: 0 12.5em;
}

/* Banner CSS */
.bannerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.takeWhatYouNeedContainer {
  background-color: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  padding: 2rem;
  width: 30%;
}

#takeWhatYouNeedText {
  font-size: 35px;
}

#lvtfwoman-img {
  width: 50%;
}

/* Mission CSS */
.missionContainer {
  align-items: center;
  background: #f5f8ff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px grey;
  display: flex;
  justify-content: center;
  padding: 2em 4em;
  margin: 2em 8em;
}

#lvtf-logo {
  width: 30%;
}

/* Map CSS */
.mapContainer {
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 2em;
}

.mapAndText {
  display: flex;
}

@media (max-width: 720px) {
  .homeContainer {
    margin: 0;
  }

  /* Banner CSS */
  .bannerContainer {
    flex-direction: column;
    margin-top: 1em;
  }

  .takeWhatYouNeedContainer {
    width: 90%;
  }

  #lvtfwoman-img {
    width: 90%;
  }

  /* Mission CSS */
  .missionContainer {
    flex-direction: column;
    margin: 1em;
    padding: 1em 2em;
  }

  #lvtf-logo {
    width: 100%;
  }

  /* Map CSS */
  .mapAndText {
    flex-direction: column;
  }
}
