#woman-img {
  width: 100%;
  margin-top: 1.5rem;
}

.mini-cta {
  margin-top: 3rem;
  margin-left: 5rem;
  padding: 20px;
  width: 90%;
  background-color: #f5f8ff;
  border-radius: 20px;
  min-width: 300px;
}

@media (max-width: 720px) {
  .mini-cta,
  #woman-img {
    margin-left: auto;
    margin-right: auto;
  }
}
