image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.cta-container {
  background: url("../images/sunset.jpg") center center/cover no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.cta-container > h1 {
  color: #fff;
  font-size: 45px;
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 110px;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
}

.cta-container > p {
  color: #fff;
  justify-self: start;
  margin-left: 150px;
  margin-top: 32px;
  text-shadow: 1px 1px 2px black;
}

.btn-cta {
  margin-top: 20px;
  margin-left: 145px;
  margin-bottom: 45px;
}

.btn-cta .btn {
  margin: 6px;
}

.info-container {
  margin-top: 32px;
  margin-left: 150px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.info-text {
  color: rgb(27, 81, 148);
  width: 100%;
}

.info-image {
  background: url("../images/hand.jpg");
  float: right;
  height: 100%;
  width: 100%;
  alt: "student raising her hand";
}

.learn-more-link {
  margin-left: 300px;
}

@media screen and (max-width: 960px) {
  .cta-container > h1 {
    font-size: 40px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
  }

  .cta-container > p {
    margin-left: 80px;
  }

  .btn-cta {
    margin-left: 75px;
  }

  .info-container {
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
  }
}
