image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.cta-container {
  background: #f5f8ff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.newsletter-container {
  max-width: 600px;
  padding: 30px;
  margin-top: 50px;
  margin: auto;
}

.newsletter-container > h1 {
  color: #fff;
  font-size: 45px;
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 110px;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
}

.newsletter-container > p {
  color: #fff;
  justify-self: start;
  margin-left: 150px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px black;
}

input[type="text"] {
  width: 75%;
  padding: 12px 18px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 20px;
  border: transparent;
}
input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-out;
  padding: 12px 26px;
  font-size: 20px;
  width: 75%;
}

input[type="submit"]:hover {
  background: #b4dfd4;
  color: white;
  transition: all 0.3s ease-out;
  transition: 250ms;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

.btn-cta {
  margin-top: 20px;
  margin-bottom: 45px;
}

.info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  object-fit: contain;
}

.info-text {
  padding-top: 32px;
  padding-left: 150px;
  color: rgb(27, 81, 148);
  width: 100%;
}

.info-image {
  background: url("../images/logo-square.jpeg");
  float: right;
  height: 100%;
  width: 100%;
  alt: "student raising her hand";
}

.learn-more-link {
  margin-left: 300px;
}

@media screen and (max-width: 960px) {
  .cta-container > h1 {
    font-size: 40px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
  }

  .cta-container > p {
    margin-left: 80px;
  }

  .info-container {
    margin-left: -75px;
    margin-right: 80px;
    justify-content: center;
  }
}

.newsletter-container {
  margin: auto;
}
