.footer-container {
  align-items: center;
  background-color: #b4dfd4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75vh;
  padding: 2rem 0 2rem 0;
}

/* Social Icons */
.contact .social-icon-link {
  color: black;
  font-size: 24px;
}

.social-media {
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  max-width: 1000px;
  width: 100%;
}

.instagram-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 20px;
}

.social-logo {
  align-self: center;
  cursor: pointer;
  display: flex;
  justify-self: start;
  margin-bottom: 16px;
  margin-left: 20px;
}
