image {
  height: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.hero-container {
  align-items: left;
  background: #f5f8ff;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.newsletter-container {
  margin-top: 50px;
  margin: auto;
  max-width: 600px;
  padding: 30px;
}

.newsletter-container > h1 {
  color: #fff;
  font-size: 45px;
  justify-content: center;
  margin-left: 150px;
  margin-right: 110px;
  margin-top: 80px;
  text-shadow: 1px 1px 2px black;
}

.newsletter-container > p {
  color: #fff;
  justify-self: start;
  margin-left: 150px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px black;
}

input[type='text'] {
  border-radius: 20px;
  border: transparent;
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 12px 18px;
  width: 75%;
}

input[type='text']:focus {
  outline: none;
}

input[type='submit'] {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  padding: 12px 26px;
  transition: all 0.3s ease-out;
  width: 75%;
}

input[type='submit']:hover {
  background: #b4dfd4;
  color: white;
  cursor: pointer;
  transition: 250ms;
  transition: all 0.3s ease-out;
}

input[type='submit']:focus {
  outline: none;
}

.btn-cta {
  margin-bottom: 45px;
  margin-top: 20px;
}

.info-container {
  align-items: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.info-text {
  color: rgb(27, 81, 148);
  padding-left: 150px;
  padding-top: 32px;
  width: 100%;
}

.info-image {
  alt: 'student raising her hand';
  background: url('../images/logo-square.jpeg');
  float: right;
  height: 100%;
  width: 100%;
}

.learn-more-link {
  margin-left: 300px;
}

@media screen and (max-width: 960px) {
  .cta-container > h1 {
    font-size: 40px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    text-shadow: 1px 1px 2px black;
  }

  .cta-container > p {
    margin-left: 80px;
  }

  .info-container {
    justify-content: center;
    margin-left: -75px;
    margin-right: 80px;
  }
}

.newsletter-container {
  margin: auto;
}
